<div class="relative z-10" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <div class="overlay" aria-hidden="true"></div>
  <div class="modal-container">
    <div class="modal">
      <main>
        <div class="icon-container">
          <svg class="icon" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
          </svg>
        </div>
        <div class="text-container">
          <h3 class="title" id="modal-title">{{title}}</h3>
          <p class="message">{{message}}</p>
        </div>
      </main>
      <footer>
        <button type="button" class="confirm" (click)="onConfirm.emit()">
          {{confirmButtonText}}
        </button>
        <button type="button" class="cancel" (click)="onCancel.emit()">
          {{cancelButtonText}}
        </button>
      </footer>
    </div>
  </div>
</div>
